.row{
   
    margin-bottom: 34px;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-top: 25px;
}
.form-check-input{
    margin-left: 14px;
    height: 26px;
    
    width: 60px;
}

.form-switch .form-check-input:checked {
   
    background-color: green;
    }